<div data-nanogallery2='{
    "userID": "162779846@N06",
    "kind": "flickr",
    "photoset": "{{ include.gallery }}",
    "thumbnailWidth": "300",
    "thumbnailHeight": "auto",
    "thumbnailBorderVertical": 1,
    "thumbnailBorderHorizontal": 1,
    "colorScheme": {
      "thumbnail": {
        "background": "rgba(0,0,0,1)"
      }
    },
    "thumbnailDisplayTransition": "flipDown",
    "thumbnailDisplayTransitionDuration": 1000,
    "thumbnailDisplayInterval": 100,
    "thumbnailHoverEffect2": "imageScale150|labelSlideUp",
    "galleryDisplayMode": "moreButton",
    "galleryDisplayMoreStep": 8,
    "thumbnailAlignment": "center",
    "thumbnailGutterWidth": 10,
    "thumbnailGutterHeight": 10
  }'>
</div>