---
layout: compress
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Daan Geerdink</title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="nl_NL" data-type="horizontal" data-theme="light" data-vanity="daan-geerdink"><a class="LI-simple-link" href='https://nl.linkedin.com/in/daan-geerdink?trk=profile-badge'>Daan Geerdink</a></div>
    </body>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</html>
