---
layout: default
---

<div class="post">

  <article class="post-content">
    {{ content }}
  </article>

</div>

<ul class='atoms set'>
  <li class='atom O'></li>
  <li class='atom H'></li>
  <li class='atom C'></li>
  <li class='atom N'></li>
  <li class='atom Cl'></li>
</ul>
<ul class='molecules set'>
		<li class='molecule-wrap'>
    <div class='info'>hydrogen (H<sub>2</sub>)</div>
		<ul class='molecule H2'>
			<li class='atom H'></li>
			<li class='atom H'></li>
		</ul>
		<ul class='molecule H2O'>
			<li class='atom H'></li>
			<li class='atom H'></li>
			<li class='atom O'></li>
		</ul>
	</li>
	<li class='molecule-wrap'>
    <div class='info'>water (H<sub>2</sub>O)</div>
		<ul class='molecule H2O'>
			<li class='atom H'></li>
			<li class='atom H'></li>
			<li class='atom O'></li>
		</ul>
	</li>
		<li class='molecule-wrap'>
    <div class='info'>oxygen (O<sub>2</sub>)</div>
		<ul class='molecule O2'>
			<li class='atom O'></li>
			<li class='atom O'></li>
		</ul>
	</li>
	<li class='molecule-wrap'>
    <div class='info'>carbon dioxide (CO<sub>2</sub>)</div>
		<ul class='molecule CO2'>
			<li class='atom C'></li>
			<li class='atom O'></li>
			<li class='atom O'></li>
		</ul>
	</li>
	<li class='molecule-wrap'>
    <div class='info'>ammonia (NH<sub>3</sub>)</div>
		<ul class='molecule NH3'>
			<li class='atom N'></li>
			<li class='atom H'></li>
			<li class='atom H'></li>
      <li class='atom H'></li>
		</ul>
	</li>
  <li class='molecule-wrap'>
    <div class='info'>methane (CH<sub>4</sub>)</div>
		<ul class='molecule CH4'>
			<li class='atom C'></li>
			<li class='atom H'></li>
			<li class='atom H'></li>
			<li class='atom H'></li>
      <li class='atom H'></li>
		</ul>
	</li>
</ul>
